<template>
  <v-container>
    <v-card class="mx-auto">
      <v-card-text>
        <div>Index: {{ index }}</div>
        <p class="text--primary">Version: {{ version }}</p>
        <div class="text--primary">
          Size Difference : {{ sizeDiff }}<br />
          Unix Timestamp : {{ timestamp }} <br />
          User ID : {{ userId }} <br />
        </div>
        <div class="my-2">
          <strong>Differential Map:</strong> <br />
          <v-data-table
            :headers="headers"
            :items="displayablemap"
            class="elevation-1"
          />
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "ProvenanceDetailer",
  props: {
    index: Number,
    readablemap: Array,
    sizeDiff: Number,
    timestamp: Number,
    version: Number,
    userId: String,
  },
  data: () => ({
    displayablemap: [],
    headers: [
      { text: "Index", value: "indx" },
      { text: "ASCII Difference", value: "valueDiff" },
    ],
  }),
  mounted() {
    console.log(this.readablemap);
    this.displayablemap = this.readablemap.map((entry) => ({
      indx: entry.index,
      valueDiff: entry.value,
    }));
  },
};
</script>

<style>
</style>