<template>
  <v-app>
    <v-app-bar app color="primary">
      <div class="title">Blockchain Version Control System Prototype</div>
      <v-spacer></v-spacer>
      <v-chip v-show="isLoggedIn">
        User ID: {{ this.$store.state.userid }}
      </v-chip>
      <v-btn elevation="2" class="mx-2" :disabled="isLoggedOut">
        <router-link to="/create">Create</router-link>
      </v-btn>
      <v-btn elevation="2" class="mx-2" :disabled="isLoggedOut"
        ><router-link to="/docs">View </router-link>
      </v-btn>
      <v-btn elevation="2" class="mx-2">
        <router-link to="/">Home</router-link>
      </v-btn>
      <v-btn
        elevation="2"
        class="mx-2"
        :disabled="isLoggedOut"
        @click="signOut"
      >
        <router-link to="/">Sign Out</router-link>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <v-row class="fill-height">
          <v-col>
            <transition name="fade">
              <router-view></router-view>
            </transition>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},

  data: () => ({
    //
  }),
  computed: {
    isLoggedOut: function () {
      return !this.$store.state.loggedIn;
    },
    isLoggedIn: function () {
      return this.$store.state.loggedIn;
    },
  },
  methods: {
    signOut() {
      this.$store.commit("logout");
    },
  },
};
</script>
