<template>
  <v-container fluid>
    <v-form>
      <v-text-field
        clearable
        solo
        label="PURL"
        v-model="purl"
        disabled
      ></v-text-field>
      <v-textarea
        clearable
        auto-grow
        outlined
        label="Content"
        v-model="docContent"
      ></v-textarea>
      <v-btn class="mr-5" color="dark" @click="submit" v-show="showSubmit"
        >SUBMIT</v-btn
      >
      <v-btn class="mr-5" color="dark" @click="goHome" v-show="showGoHome"
        >GO HOME</v-btn
      >
    </v-form>
    <v-alert
      dark
      dense
      type="success"
      :value="showSaveAlert"
      dismissible
      class="my-8"
      >Saved Document</v-alert
    >
    <v-alert
      dark
      dense
      type="error"
      :value="showErrorAlert"
      dismissible
      class="my-8"
      >Error occured</v-alert
    >
  </v-container>
</template>

<script>
const axios = require("axios");
export default {
  name: "EditDocument",
  data: () => ({
    docContent: "",
    showSaveAlert: false,
    showErrorAlert: false,
    showGoHome: false,
    showSubmit: true,
  }),
  computed: {
    purl: function () {
      return this.$route.params.id;
    },
  },
  methods: {
    goHome() {
      this.$router.push({ path: "/" });
    },
    async getDocContent() {
      try {
        const response = await axios.get(`/doc/${this.$route.params.id}`);
        this.docContent = response.data._fileContent;
      } catch (e) {
        console.log(e);
      }
    },
    async submit() {
      try {
        const x = await axios.post(`/doc/${this.purl}`, {
          filecontent: this.docContent,
          userid: this.$store.state.userid,
          usersig: this.$store.state.usersig,
        });

        if (x.status === 200) {
          this.showSaveAlert = true;
          this.showGoHome = true;
          this.showSubmit = false;
        }
      } catch (e) {
        this.showErrorAlert = true;
      }
    },
  },
  mounted() {
    this.getDocContent();
  },
};
</script>
