<template>
  <v-container fluid>
    <div v-if="loggedIn">
      <p class="title text-center">
        Blockchain
        <v-spacer></v-spacer>
        <v-btn fab color="accent-2" top left @click="getBlockchainDetails">
          <v-icon>mdi-refresh</v-icon>
        </v-btn>
      </p>

      <p v-for="(block, index) in blocks" :key="index">
        <BlockDetails
          :id="block.blockId"
          :hash="block.blockHash"
          :verifier="block.verifier"
          :entries="block.entries"
        />
        <v-divider></v-divider>
      </p>
    </div>
    <div v-else>
      <v-card class="mx-auto" max-width="30em">
        <v-card-text>
          <p class="title text--primary">LOGIN</p>
          <v-text-field
            label="Username"
            hide-details="auto"
            v-model="userid"
            :rules="notNullRule"
          />
          <v-text-field
            label="Passphrase"
            hide-details="auto"
            v-model="passphrase"
            :rules="notNullRule"
          />
        </v-card-text>
        <v-card-actions>
          <v-btn
            text
            color="teal accent-4"
            @click="login"
            :disabled="disabledLogin"
          >
            SIGN IN
          </v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </v-container>
</template>

<script>
// @ is an alias to /src
const axios = require("axios");
import BlockDetails from "@/components/BlockDetails.vue";
export default {
  name: "Home",
  data: () => ({
    blocks: [],
    test: "Works",
    userid: "",
    passphrase: "",
    notNullRule: [
      (v) => !!v || "This field is required",
      (v) => /^\d+$/.test(v) || "Must be numeric",
    ],
  }),
  computed: {
    loggedIn: function () {
      return this.$store.state.loggedIn;
    },
    disabledLogin: function () {
      return !(/^\d+$/.test(this.userid) && /^\d+$/.test(this.passphrase));
    },
  },
  methods: {
    async getBlockchainDetails() {
      const detailsReq = await axios.get("/visualizeblockchain");
      this.blocks = detailsReq.data;
    },
    login() {
      this.$store.commit("login", {
        userid: this.userid,
        usersig: this.passphrase,
      });
    },
  },
  mounted: async function () {
    await this.getBlockchainDetails();

    var HOST = location.origin.replace(/^http/, "ws");
    this.connection = new WebSocket(`${HOST}/wschannel`);

    this.connection.onmessage = function (event) {
      const wsMessage = event.data;
      const parsedMessage = JSON.parse(wsMessage);
      if (
        parsedMessage.DATATYPE == "UPDATEDDOC" ||
        parsedMessage.DATATYPE == "CREATEDDOC"
      ) {
        this.getBlockchainDetails();
      }
    }.bind(this);
  },

  components: { BlockDetails },
};
</script>
