<template>
  <v-container fluid>
    <p class="title text-center">PURL: {{ purl }}</p>
    <p v-for="(detail, index) in details" :key="index">
      <ProvenanceDetailer
        :index="index"
        :readablemap="detail.readableDiffMap"
        :sizeDiff="detail.sizeDiff"
        :timestamp="detail.timestamp"
        :version="detail.version"
        :userId="detail.userId"
      />
      <v-divider></v-divider>
    </p>
  </v-container>
</template>

<script>
const axios = require("axios");
import ProvenanceDetailer from "../components/ProvenanceDetailer.vue";
export default {
  name: "SeekProvenance",
  data: () => ({
    createdAt: [],
    details: [],
  }),
  computed: {
    purl() {
      return this.$route.params.id;
    },
  },
  async mounted() {
    const provenanceResponse = await axios.get("/provenance", {
      params: {
        purl: this.$route.params.id,
        userId: this.$store.state.userid,
      },
    });
    this.createdAt = provenanceResponse.data._createdAt;
    this.details = provenanceResponse.data._details;
  },
  components: { ProvenanceDetailer },
};
</script>
