<template>
  <v-container fluid>
    <v-card>
      <v-card-title>{{ purl }}</v-card-title>
      <v-card-text>{{ docContent }}</v-card-text>
    </v-card>
    <v-alert
      class="my-8"
      v-show="showUpdateAlert"
      border="top"
      color="blue"
      dense
      dismissible
      elevation="5"
      outlined
      type="info"
      visible
    >
      Document Updated!
    </v-alert>
  </v-container>
</template>
<script>
const axios = require("axios");
export default {
  name: "ViewDocument",
  data: () => ({
    docContent: "",
    connection: null,
    showUpdateAlert: false,
  }),
  computed: {
    purl: function () {
      return this.$route.params.id;
    },
  },
  methods: {
    async fetchDoc() {
      try {
        const documentRequest = await axios.get(
          `/doc/${this.$route.params.id}`
        );
        this.docContent = documentRequest.data._fileContent;
      } catch (err) {
        this.docContent = "Cannot display content...";
      }
    },
  },
  async mounted() {
    await this.fetchDoc();

    var HOST = location.origin.replace(/^http/, "ws");
    this.connection = new WebSocket(`${HOST}/wschannel`);

    this.connection.onmessage = function (event) {
      const wsMessage = event.data;
      const parsedMessage = JSON.parse(wsMessage);

      if (
        parsedMessage.DATATYPE == "UPDATEDDOC" &&
        parsedMessage.PURL == this.purl
      ) {
        this.docContent = parsedMessage.CONTENT;
        this.showUpdateAlert = true;

        setTimeout(() => (this.showUpdateAlert = false), 2000);
      }
    }.bind(this);
  },
};
</script>
