<template>
  <v-container fluid>
    <v-card
      class="mx-auto my-auto"
      v-for="{ purl, content } in allDocs"
      :key="purl"
    >
      <v-card-text>
        <p class="display-1 text--primary">{{ purl }}</p>
        <div class="text-primary">{{ content }}</div>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="viewDocument(purl)"> VIEW</v-btn>
        <v-btn @click="editDoc(purl)"> EDIT </v-btn>
        <v-btn @click="goToVersionPage(purl)"> CHECK PREVIOUS VERSIONS</v-btn>
        <v-btn @click="seekProvenance(purl)"> SEEK PROVENANCE</v-btn>
      </v-card-actions>
      <v-divider dark></v-divider>
    </v-card>
  </v-container>
</template>
<script>
const axios = require("axios");
export default {
  name: "ViewAllDocuments",
  data: () => ({
    allDocs: [],
    connection: null,
  }),
  methods: {
    async fetchAllData() {
      const allDocsRequest = await axios.get("/docsWithContent");
      this.allDocs = allDocsRequest.data;
    },

    goToVersionPage(purl) {
      this.$router.push({ path: "/view/" + purl + "/versions" });
    },

    editDoc(purl) {
      this.$router.push({ path: "/edit/" + purl });
    },

    seekProvenance(purl) {
      this.$router.push({ path: "/provenance/" + purl });
    },

    viewDocument(purl) {
      this.$router.push({ path: "/view/" + purl });
    },
  },
  async mounted() {
    await this.fetchAllData();

    var HOST = location.origin.replace(/^http/, "ws");
    this.connection = new WebSocket(`${HOST}/wschannel`);

    this.connection.onmessage = function (event) {
      const wsMessage = event.data;
      const parsedMessage = JSON.parse(wsMessage);
      if (
        parsedMessage.DATATYPE == "UPDATEDDOC" ||
        parsedMessage.DATATYPE == "CREATEDDOC"
      ) {
        this.fetchAllData();
      }
    }.bind(this);
  },
};
</script>

<style>
</style>